<div class="jumbotron" style="background-color: #5cad5c;">
    <div class="container">
        <h1>Christmas Name Pair App</h1>
    </div>
</div>
<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-6">
            <md-card>
                <md-card-title>
                    Names of people
                </md-card-title>
                <md-input placeholder="Number of names" [(ngModel)]="number" (keyup)="function()" type="number"></md-input>
                <ul style="list-style: none;">
                    <li *ngFor="let x of myArray; let i = index">
                        <md-input style="width: 280px" placeholder="Name" [(ngModel)]="myArray[i].name"></md-input>
                    </li>
                </ul>
                <md-card-actions>
                    <button (click)="submitted()" md-raised-button style="background-color: #5cad5c;color:white;width:100%;">Pair!</button>
                </md-card-actions>
                <div *ngIf="duplicates" class="alert alert-danger" role="alert">Duplicates Error (Please enter unique names)</div>
            </md-card>
        </div>
        <div class="col-sm-6">
            <md-card>
                <md-card-title>
                    Results!
                    </md-card-title>
                        <md-list>
                            <md-list-item style="color: white;font-size: 22px;" *ngFor="let x of pairedArray; let i = index">
                                {{x.name}} <i class="material-icons">arrow_forward</i> {{x.got}}
                            </md-list-item>
                            <md-card-actions>
                    <button (click)="submitted()" md-raised-button style="background-color: #5cad5c;color:white;width:100%;">Redo!</button>
                </md-card-actions>
                        </md-list>
            </md-card>
        </div>
    </div>
</div>